* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.todo-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.header {
  color: rgba(4, 14, 58, 0.822);
  font-size: 45px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  width: 50%;
  padding: 10px 15px;
  box-shadow: 1px 1px 5px rgba(2, 2, 70, 0.26);
}

.todo-text {
  justify-self: flex-start;
  margin-right: auto;
  padding-left: 10px;
}

.create-todo {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: center;
}

@media (max-width: 760px) {
  .todo-item,
  .create-todo {
    width: 100%;
  }
}
